/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10%;
    margin: 0 153px;
}
header.menu__header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}
header.menu__header h3 {
    font-family: var(--raleway);
    color: rgb(34, 34, 34) ;
    margin-top: 15px;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 18px;
}
section.menu nav ul.menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width: 750px;
}
section.menu nav ul.menu__list li a {
    color: var(--fuente-ceniza-oscuro);
    text-decoration: none;
}
section.menu nav ul.menu__list li a:hover {
    color: rgb(9, 90, 197);
    text-decoration: underline;
}
section.menu nav ul.menu__list li:nth-child(6) {
    color: #fdfdfd;
    font-weight: 800;
    text-decoration: underline;
}

/*Sección Title*/
section.title {
    width: 100%;
    color: black;
}
section.title div.title__div {
    background-color: rgb(26, 137, 241);
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
section.title div.title__container h2 {
    margin: 40px 150px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}


/* Imagen de perfil */ 
section.title img.title__profile {
    margin-right: 153px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    padding-top: 30px;
}
section.title div.title__div div.title__container h3 {
    font-size: 17px;
    line-height: 23px;
    width: 600px;
    margin: 30px 153px;
}
section.title div.title__div div.title__container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 500px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: auto 150px 30px;
}
/*Sección About*/

section.about {
    padding: 55px 153px;
    background-color: #EAF2FD;
    
}

/* Container section about */
section.about div.about__container {
    width: 800px;
    margin: 30px 0px;
    
}
section.about h3.about__title {
    font-size: 32px;
}
section.about div.about__container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/*Sección skills tamaño*/
section.skills {
    margin: 64px 100px;
}
section.skills h3.skills__title {
    font-size: 32px;
    text-align: center;
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
} 
section.skills div.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
section.skills div.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: #ffffff;
    margin: 22px 15px 22px 0px;
    width: 136px;
    height: 130px;
}
section.skills div.skills__box ul {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
}

/*Sección Hobbies*/
section.hobbies {
    margin: 64px 100px;
}
section.hobbies h3.hobbies__title { 
    font-size: 32px;
    text-align: center;
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
}
section.hobbies div.hobbies__line { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
section.hobbies div.hobbies__box { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: #ffffff;
    margin: 22px 15px 22px 0px;
    width: 136px;
    height: 130px;
}
section.hobbies div.hobbies__box ul{ 
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
}
/* Experiencia Académica*/

section.academic{
    padding: 82px 0;
    background-color: #EAF2FD;
    
}
section.academic h2.academic__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
}
section.academic div.academic__courses {
    display: flex;
    justify-content: center;   
}
section.academic div.academic__courses__box {
    width: 26.5rem;
    margin: 0 1rem;
}
section.academic div.academic__courses__box ul {
    padding: 0;
}
section.academic div.academic__courses__box ul li {
    padding: 0;
}
div.academic__courses__box ul.academic__courses__list li.academic__courses__item__img {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
div.academic__courses__box ul.academic__courses__list li img:nth-child(1) {
    width: 140px;
    height: 120px;
    margin: 16px;
}
div.academic__courses__box ul.academic__courses__list li.academic__courses__item__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 8px;
    color: #464646;
}
div.academic__courses__box ul.academic__courses__list li.academic__courses__item__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;;
    color: #464646;
}
/* experiencia profesional*/

section.experience {
    padding: 64px 0;
    background-color: #EAF2FD;
}
section.experience h2.experience__section__title {
    font-size: 32px;
    text-align: center;
    padding-bottom: 32px;
    color: #464646;
}
div.experience__box img.experience__img{
    width: 752px;
    height: 406px;
    border-radius: 0px;
}
div.experiences__box img.experience__img{
    width: 752px;
    height: 406px;
    border-radius: 0px;
}
section.experience div.experience__box {
    display: flex;
    margin: 0 152px;
    justify-content: center;
    padding-bottom: 64px;
    
}
section.experience div.experiences__box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-bottom: 64px;
}
section.experience div.experiences__box div.experience__info h2.experience__title {
    display: flex;
    flex-wrap: wrap;
  
}
section.experience div.experience__info h2.experience__title {
    margin: 147px 10px 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}
section.experience div.experience__info h3.experience__text {
    padding-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
section.experience div.experience__info div.experience__description button.experiencia__boton--repo {
    background: #FFFFFF;
    color: #2A7AE4;
    font-family: var(--raleway);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 16px;
    line-height: 19px;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid #2A7AE4;
}
section.experience div.experience__info div.experience__description button.experience__boton--demo {
    background: #2A7AE4;
    color: #ffffff;
    font-family: var(--raleway);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 16px;
    line-height: 19px;
    margin-top: 32px;
    border: none;
}